include ../partials/sidenav.pug
include ../partials/mobile_sidenav.pug
include ../partials/header.pug
include ../partials/content_top.pug
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='global.css')
    title Document
  body.app
    +header
    main.container.grid.grid-cols-1.mb-8(class='md:grid-cols-4')
      aside.sidenav
        +sidenav
      section.content
        +contentTop
        .content__body
          block content
        .content__actions
          button Actualizar Perfil
    +mobile-nav