.home {
  background: linear-gradient(to bottom, white 0%, $bg-yellow 40%);
  padding: 0.5em 1em;

  header,
  section:not(.hero),
  footer {
    margin: 0 auto;


    @include breakpoint-up(large) {
      max-width: 1200px;
    }
    
  }

  main section:not(.hero) {
    @include breakpoint-down(medium) {
      flex-direction: column;

      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }


  header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;

    @include breakpoint-down(medium) {
      padding: 0.5em 0;
    }

    img {
      height: 46px;
      width: auto;

      @include breakpoint-down(medium) {
        height: 32px;
      }
    }

    .btn {
      color: white;
      background-color: $secondary;
      font-size: 17px;
      font-weight: bold;

      &:hover {
        background-color: $primary;
      }
    }
  }

  section:not(.hero) {
    width: 100%;
    margin: 4em auto;
    display: flex;
    align-items: center;
    .copy {
      padding: 0 3em;

      h2 {
        color: $tertiary;
      }



      @include breakpoint-up(small) {
        padding: 0;

        &:first-child { 
          padding: 0;
        }

        h2 {
          font-size: 40px;
          text-align: center;
        }
      }

      @include breakpoint-down(small) {
        h2 {
          font-size: 30px;
        }
      }

      @include breakpoint-up(large) {
        width: 40%;

        &:first-child {
          text-align: right;
          width: 50%;
          padding: 0 3em 0 8em;
        }
        h2 {
          font-size: 40px;
        }
      }
    }

    p {
      color: $secondary;
      line-height: 24px;

      @include breakpoint-up(small) {
        font-size: 16px;
      }

      @include breakpoint-up(medium) {
        font-size: 20px;
      }

      @include breakpoint-up(large) {
        font-size: 16px;
      }
    }
  }

  footer {
    img {
      width: 100%;
    }

    .footer {
      &-graph {
        display: flex;
      }
      &-credits {
        border-radius: 0 0 $default-border $default-border;
        min-height: 200px;
        margin-top: -1px;
        background-color: #04003f;
        z-index: 1;
      }
    }
  }

  .promo {
    display: flex;
    @include breakpoint-up(medium) {
      flex-direction: row;

      > div {
        flex: 1 1 50%;
        display: flex;
        align-items: center;
      }
    }

    &-copy {
      @include breakpoint-up(medium) {
        padding-right: 2em;
      }

      h4 {
        color: $secondary;
        font-size: 40px;

        @include breakpoint-down(small) {
         font-size: 28px;
        }

        @include breakpoint-down(medium) {
          text-align: center;
        }
      }
    }

    &-banner {
      background-color: $tertiary;
      border-radius: $default-border;
      padding: 1em;
      min-height: 6em;
    }

    &-slide {
      color: white;
      display: flex;

      > div {
        &:first-child {
          padding: 1em;
          font-family: "PT Serif", serif;
          h4 {
            font-size: 4.6em;
            margin: 0;
          }
          small {
            font-size: 1.6rem;
          }
        }
        &:last-child {
          padding: 1em;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          strong {
            font-size: 1.4em;
          }

          p {
            color: white;
            font-family: "PT Serif", serif;
            font-size: 2em;
            font-weight: bold;
            margin: 0.5em 0;
          }

          small {
            color: $secondary;
            font-weight: bold;
            font-size: 0.9em;
            margin-top: 1em;
          }
        }
      }
    }
  }
}

.hero {
  background-image: url("./img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $default-border;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @include breakpoint-down(medium) {
    height: auto;
    padding: 0.4em;
  }

  @include breakpoint-up(medium) {
    height: 84vh;
    padding: 1em;
  }

  @include breakpoint-up(large) {
    max-width: 1400px;
    min-height: 500px;
  }

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  &-content {
    border-radius: $default-border $default-border 0 0;
    width: 100%;

    @include breakpoint-up(large) {
      max-width: 980px;
    }
  }

  &-slogan {
    color: white;
    background-color: rgba($secondary, 0.9);
    backdrop-filter: blur(6px);
    border-radius: $default-border $default-border 0 0;

    @include breakpoint-down(medium) {
      padding: 1em 1em 4em;
    }

    @include breakpoint-down(small) {
      h1 {
        font-size: 1.2em;
      }
    }

    @include breakpoint-up(large) {
      padding: 3em;

      h1 {
        font-size: 2.2em;
        margin: 1em 0 2em;
      }
    }
  }

  &-form {
    &-tabs {
      display: flex;
      flex-direction: column;
      z-index: 1;
      transform: translateY(-46px);

      &-head {
        display: flex;
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 0 1em;
      position: relative;
      &:first-child {
        width: 33.333%;
      }

      @include breakpoint-down(medium) {
        width: 100% !important;

        + div {
          margin-top: 1.5em;
        }
      }

      label {
        font-size: 15px;
        margin-bottom: 0.5em;
        color: $text-gray;
      }

      &.select {
        width: 36%;
        button,
        li {
          padding: 0.5em;
        }
      }

      .selected {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding-right: 1em;
        height: 100%;

        span,
        strong {
          justify-content: center;
        }

        span {
          font-size: 28px;
          font-weight: bold;
          position: relative;
          border-radius: $default-border;
          width: 90px;
          flex: 0 0 auto;

          &:after {
            content: "CUC";
            font-size: 14px;
            padding-left: 0.2em;
          }

          @include breakpoint-down(small) {
              width: 80px;

              &:after {
                font-size: 12px;
              }
          }
        }

        strong {
          font-size: 24px;
        }

        > * {
          flex: 1 1 auto;
          width: 33.33%;
          height: 100%;
          display: flex;
          align-items: center;

          @include breakpoint-down(small) {
            width: auto;
          }
        }

        > ul {
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          li {
            font-size: 14px;
            padding: 0 1.5em;
          }
        }
      }

      button[type="submit"] {
        font-size: 23px;
        font-weight: bold;
        border-radius: $default-border;
        border: medium none;
        height: 66px;
        background-color: $primary;
        color: white;

        @include breakpoint-down(small) {
          height: 56px;
          font-size: 21px;
        }
      }
    }
  }

  &-tabs {
    &-head {
      display: flex;

      ul {
        background-color: $bg-gray;
        margin: 0;
        padding: 0;
        list-style: none outside none;
        display: flex;
        border-radius: $default-border $default-border 0 0;

        @include breakpoint-down(small) {
          width: 100%;
        }

        li {
          button {
            color: $secondary;
            background-color: transparent;
            border: medium none;
            height: 46px;
            outline: none;
            transition: all 0.2s linear;

            @include breakpoint-down(small) {
              width: 100%;
              font-size: 20px;
            }

            @include breakpoint-up(small) {
              width: 170px;
              font-size: 19px;
            }

            &.active {
              background-color: white;
              border-radius: $default-border $default-border 0 0;
              font-weight: bold;
            }

            &:not(.active):hover {
              color: $tertiary;
              background-color: rgba(white, 0.2);
              border-radius: $default-border $default-border 0 0;
            }
          }

          @include breakpoint-down(small) {
            width: 50%;
          }
        }
      }
    }

    &-content {
      background-color: white;
      border-radius: 0 0 $medium-border $medium-border;
      padding: 2em 0 1em;

      form {
        display: flex;
        @include breakpoint-down(medium) {
          flex-direction: column;
        }

        @include breakpoint-up(large) {
        }
      }
    }
  }

  &-phone {
    &-input {
      position: relative;
      font-size: 28px;
      font-weight: bold;

      @include breakpoint-down(medium) {
        font-size: 24px;
      }

      &:focus {
        border-color: $tertiary;
      }

      &:before {
        content: "+53";
        border-radius: $default-border 0 0 $default-border;
        position: absolute;
        display: flex;
        left: 2px;
        top: 2px;
        width: 80px;
        align-items: center;
        justify-content: flex-end;
        font-size: 20px;
        height: calc(100% - 4px);
        padding: 0 16px 0 0;
        color: $secondary;
        background-color: $bg-gray;
        z-index: 1;
      }

      &:after {
        display: block;
        width: 20px;
        height: 20px;
        left: 16px;
        top: 50%;
        position: absolute;
        content: "";
        z-index: 2;
        background-image: url("./image/CubaIcon.png");
        transform: translateY(-50%);
      }

      input {
        border-radius: $default-border;
        border: 2px solid $secondary;
        padding: 0 0.5em 0 116px;
        outline: none;
        flex: 1 1 auto;
        width: 100%;
        color: $secondary;

        &::placeholder {
          color: $bg-gray;
        }

        @include breakpoint-down(medium) {
          height: 48px;
        }

        @include breakpoint-up(medium) {
          height: 66px;
        }
      }
    }
  }

  &-dropdown {
    &-list {
      display: none;
      position: relative;
      transform: translateY(-50%);
      position: absolute;
      width: calc(100% - 2em);
      top: 50%;
      z-index: 10;

      > ul {
        background-color: white;
        padding: 0.5em !important;
        border-radius: $default-border;
        box-shadow: 0 0 12px rgba($secondary, 0.9);
        color: $secondary;
        z-index: 1;

        > li {
          border: 1px solid $bg-gray;
          border-radius: $default-border;
          background-color: white;
          padding-left: 2em !important;
          cursor: pointer;
          position: relative;

          &:hover {
            background-color: $secondary;
            color: white;
            span {
              background-color: $primary;
            }
            strong {
              color: white;
            }

            &:before {
              border-color: white;
            }
          }

          span {
            background-color: rgba($bg-gray, 0.5);
            padding: 0.2em;
          }

          strong {
            color: $primary;
          }

          + li {
            margin-top: 0.5em;
          }

          &:before,
          &:after {
            content: "";
            display: block;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
          }

          &:before {
            width: 17px;
            height: 17px;
            border: 1px solid $secondary;
            border-radius: 50%;
            left: 6px;
          }

          &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 11px;
            background-color: $bg-gray;
          }
        }
      }
    }

    &-selected {
      border-radius: $default-border;
      height: 66px;
      border: medium none;
      display: flex;
      background-color: $secondary;
      color: white;

      .selected {
        span {
          background-color: $tertiary;
        }
      }

      ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
