$primary: #ed1247;
$secondary: #030c59;
$tertiary: #0082c9;
$text-gray: #474e8b;
$bg-gray: #d6d8e9;
$bg-yellow: #fffaec;

$big-border: 20px;
$medium-border: 14px;
$default-border: 6px;
$small-border: 4px;

$breakpoints: (
  small: 0,
  medium: 480px,
  large: 1024px,
  ultra: 1200px,
) !default;
