body {
  @apply bg-blue;
}

.button-paypal {
	background: radial-gradient(
		50% 197.51% at 0% 0%,
		#338bcb 0%,
		#338bcb 30.2%,
		#2376b2 30.21%,
		#2b82c1 30.22%,
		#2b82c1 52.07%,
		#2b82c1 52.08%,
		#2376b2 52.08%,
		#2376b2 100%
	);
	border-radius: 6px;
}

button {
  @apply transition-colors duration-150 ease-in-out;
}

.content {
  @apply bg-white shadow-xl p-4 w-full mb-16 md:rounded-lg col-span-4 lg:col-span-3 sm:-mt-3 md:-mt-11 flex flex-col;
  min-height: 540px;

  &__top {
    @apply flex justify-between items-center pl-4 pt-2 pb-6;

    h2 {
      @apply text-lg md:text-xl text-pink font-normal;
    }

    button {
      @apply bg-blue flex justify-center items-center md:bg-white h-10 text-cyan font-semibold w-10 md:px-6 md:w-auto md:border border-cyan rounded shadow sm:block md:hover:bg-sky;

      img {
        @apply h-4;
      }
    }
  }

  &__body {
    @apply flex flex-col flex-1 lg:overflow-auto py-4 border-sky border border-l-0 border-r-0;
  }

  &__actions {
    @apply pt-4 flex justify-center md:justify-end;

    button {
      @apply bg-pink px-6 text-white font-bold rounded h-10 shadow hover:bg-opacity-90;
    }
  }

  .notification {
    @apply bg-cyan flex flex-col p-4 rounded-lg text-white mb-4;
    span {
      @apply text-sm;
    }

    button {
      @apply rounded bg-white bg-opacity-10 h-10 px-8 hover:bg-opacity-20 font-bold;
    }
  }

  fieldset {
    @apply border-sky border rounded-lg p-4;
  }

  legend {
    @apply font-bold text-cyan text-lg px-2 bg-white;
  }

  label {
    @apply text-cyan;
  }

  input {
    @apply border border-gray text-blue w-full text-lg rounded-md mt-1 h-12 px-4 placeholder-textGray;

    &.error {
      @apply border-pink shadow;
    }
  }

  .form-warning {
    @apply border border-pink bg-pink bg-opacity-5 rounded-md p-4 mt-7 list-disc list-inside;

    li {
      @apply text-sm text-blue;

      &::marker {
        @apply text-pink;
      }

      &+li {
        @apply pt-2;
      }
    }
  }
}

.sidenav {
  @apply hidden w-full mx-5 col-span-1 lg:block md:mx-0;

  ul {
    @apply mt-6 pr-4;
  }

  li + li {
    @apply mt-2;
  }

  a {
    @apply flex flex-row rounded-lg p-4 transition-colors duration-150 ease-in-out;

    &:hover {
      @apply bg-cyan bg-opacity-40;
    }

    &.active {
      @apply bg-cyan;
    }

    span {
      @apply ml-3 font-semibold text-white;
      line-height: 1.75rem;
    }

    img {
      @apply border-white h-7;
    }
  }
}
