body {
    background: red;
}

.sidenav {
  @apply hidden w-full mx-5 col-span-2 md:block md:mx-0;
  a {
    @apply flex flex-row block mt-2 mr-16 rounded-lg py-2 pl-2 pr-5
  }

  a.active {
    
  }
}