:root {
	--blue-nav: #dcf0ff;
	--blue-background-body: #0b1670;
	--important-message: #2376b2;
	--second-button: #b22345;
	--bg-credit: #dcf0ff;
	--text-title: #648ca9;
	--text-p: #476e8b;
	--text-title-date: #003358;
}
.navbar-custom {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18), 0px 2px 4px rgba(0, 0, 0, 0.24);
}

@media only screen and (min-width: 640px) {
	.navbar-custom {
		background-color: var(--blue-nav);
	}
}

@media only screen and (min-width: 640px) {
	.configuration-custom {
		background-color: white;
	}
}
@media only screen and (max-width: 639px) {
	.configuration-custom {
		background-color: var(--blue-background-body);
	}
}

.body-background {
	background-color: var(--blue-background-body);
}
.message-important {
	background-color: var(--important-message);
}

.button-background {
	background-color: var(--blue-background-body);
}
.second-button {
	background-color: var(--second-button);
}

.text-custom-bg {
	color: var(--blue-background-body);
}

.active {
	background-color: var(--important-message);
}
@media only screen and (min-width: 640px) {
	.title-custom {
		color: var(--second-button);
	}
}
@media only screen and (max-width: 639px) {
	.title-custom {
		color: white;
	}
}

.button-paypal {
	background: radial-gradient(
		50% 197.51% at 0% 0%,
		#338bcb 0%,
		#338bcb 30.2%,
		#2376b2 30.21%,
		#2b82c1 30.22%,
		#2b82c1 52.07%,
		#2b82c1 52.08%,
		#2376b2 52.08%,
		#2376b2 100%
	);
	border-radius: 6px;
}

.bg-credit-card {
	background-color: var(--bg-credit);
}
.tex-credit {
	color: var(--important-message);
}

.credit-card {
	border: 1px solid #2376b2;
	box-sizing: border-box;
	border-radius: 6px;
}
.text-title-table {
	color: var(--text-title);
}
.text-p {
	color: var(--text-p);
}
.text-title-date {
	color: var(--text-title-date);
}

.text-email {
	color: var(--second-button);
}
