mixin contentTop
  .content__top
    h2 Configuraci&oacute;n de Cuenta
    button.hidden.bg-white.w-40.h-10.text-gray-800.font-semibold.py-0.px-0.border.border-gray-400.rounded.shadow(class='sm:block hover:bg-gray-100')
      | Editar Perfil
    img.block.h-8(class='sm:hidden' src='img/pencl.png')
  hr.p-1.mt-0.mb-4