mixin sidenav
  ul
    li
      a(href="").active
        img(src='img/icon.png')
        span Configuraci&oacute;n
    li
      a(href="")
        img(src='img/icon.png')
        span M&eacute;todos de pago
    li
      a(href="")
        img(src='img/icon.png')
        span Contacto
    li
      a(href="")
        img(src='img/icon.png')
        span Historial
    li
      a(href="")
        img(src='img/icon.png')
        span Comparte!