mixin sidenav
  ul
    li
      a(href="").flex.flex-row.w-56.mt-4.mb-4.mr-16.active.rounded-lg.py-2.pl-2.pr-5(class='md:mt-16')
        img.border-white.h-6(src='img/icon.png')
        p.ml-3.text-sm.font-semibold.text-white Configuraci&oacute;n
    li
      a(href="").flex.flex-row.mt-2.mr-16.rounded-lg.py-2.pl-2.pr-5
        img.border-white.h-6(src='img/icon.png')
        p.ml-3.text-sm.font-semibold.text-white M&eacute;todos de pago
    li
      a(href="").flex.flex-row.mt-2.mr-16.rounded-lg.py-2.pl-2.pr-5
        img.border-white.h-6(src='img/icon.png')
        p.ml-3.text-sm.font-semibold.text-white Contacto
    li
      a(href="").flex.flex-row.mt-2.mr-16.rounded-lg.py-2.pl-2.pr-5
        img.border-white.h-6(src='img/icon.png')
        p.ml-3.text-sm.font-semibold.text-white Historial
    li
      a(href="").flex.flex-row.mt-2.mb-2.mr-16.rounded-lg.py-2.pl-2.pr-5
        img.border-white.h-6(src='img/icon.png')
        p.ml-3.text-sm.font-semibold.text-white Comparte!