doctype html
html(lang="es-ES")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="app.pcss")
        title App View
    body.app
        header
            .container
                .row
                    .col-md-3
                        .app-logo
                    .col-md
                        .row
                            .col-md
                                .app-user-info
                                    a
                                        img.app-user-info__avatar
                            .col-md sad
        main
            aside
            section.app-content
        