doctype html
html(lang="es-ES")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="app.pcss")
        title App View
    body.app.bg-indigo-700.w-screen.h-screen

        div 
            .bg-blue-100.w-full.h-40
            div 
                .bg-white.w-2_5.h-40
                
        main
            aside
            section
        
    
 
