extends templates/app.pug
block content
  .list
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
    .list-row
      .flex.items-start.flex-col(class="md:flex-row md:items-start flex-auto")
        .flex.flex-auto
          span.pl-2.font-bold Carlos Smedt
        .flex.flex-auto(class="md:flex-row flex-col mt-3 md:mt-0 md:ml-4 md:px-8")
          .flex.flex-row.items-center
              img(src='img/movil.png')
              span.ml-2.text-sm +53 45665445
          .flex.flex-row.items-center.mt-2(class="md:ml-4 md:mt-0")
              img(src='img/signal.png')
              span.ml-2.text-sm 6666
      .flex.justify-start
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6.mt-1(class="hover:bg-pink hover:text-white hover:border-pink md:mt-0") eliminar
  