extends templates/app.pug
block content
  .list
    .list-row
      .flex
        span.pl-2.font-bold Carlos Smedt
      .flex(class="md:flex-row flex-col")
        .flex.flex-row.items-center
            img(src='img/movil.png')
            span.ml-2.text-sm +53 45665445
        .flex.flex-row.items-center(class="md:ml-4")
            img(src='img/signal.png')
            span.ml-2.text-sm 6666
      .flex
        button.border.border-cyan.rounded-md.px-4.text-sm.text-cyan.h-6(class="hover:bg-pink hover:text-white hover:border-pink") eliminar
