@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .header-height {
        height: 176px;
        padding-bottom: 2.75rem;
    }
    .content-block {
      max-height: 70vh;
    }
  }
}

header {
  @apply md:header-height;
}

.content {
  @apply md:content-block;
}

.payment--selected {
  /* @apply blue-arrow-right; */
}

@import "./styles/app.css";
@import "./styles/_header.css";
@import "./styles/_contacts.css";
@import "./styles/_payments.css";